.list {
    list-style: none;
  }
  
  .contentContainer {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #8ba0ec, white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 100vh;
  }
  
  .contentContainer h1 {
    color: #007bff;
    margin-top: 40px;
  }
  
  .contentContainer p {
    margin-bottom: 20px;
  }
  
  .contentContainer ul {
    margin: 0;
    padding-left: 40px;
  }
  
  .goHomeButton {
    background-color: #f5d4ab;
    color: #fc8874;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: inline-block;
    max-width: 40px;
  }
  
  @media (min-width: 768px) {
    .contentContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      align-items: center;
      padding: 40px;
    }
  }