@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
  font-weight: normal;  
  font-style: normal;  
}

@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
  font-weight: normal;  
  font-style: normal;  
}